/*--bounce--*/
.bounce {
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

.bounce-text {
 animation: bounce 2s 2;
 -webkit-animation: bounce 2s 2;
 -moz-animation: bounce 2s 2;
 -o-animation: bounce 2s 2;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/*--spin--*/
.spin {
 animation: spin 2s 1;
 -webkit-animation: spin 2s 1;
 -moz-animation: spin 2s 1;
 -o-animation: spin 2s 1;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*--fillColor--*/
@-ms-keyframes fillColor {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
}
@-moz-keyframes fillColor {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
}
@-webkit-keyframes fillColor {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
}
@keyframes fillColor {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}

@-ms-keyframes fillColorReverse {
    from { background-position: -100% 0; }
    to { background-position: 0 0; }
}
@-moz-keyframes fillColorReverse {
    from { background-position: -100% 0; }
    to { background-position: 0 0; }
}
@-webkit-keyframes fillColorReverse {
    from { background-position: -100% 0; }
    to { background-position: 0 0; }
}
@keyframes fillColorReverse {
    from {
        background-position: -100% 0;
    }
    to {
        background-position: 0 0;
    }
}