.pyro > .before, .pyro > .after {
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -27px -386.66667px #b300ff, 71px -176.66667px #00ffa6, -171px -357.66667px #ff0037, -116px 67.33333px #33ff00, -105px -136.66667px #f700ff, -225px -212.66667px #fb00ff, -21px -328.66667px #00ff0d, -116px -311.66667px #ffe100, 227px -30.66667px #fffb00, -247px -169.66667px #ff5e00, 130px -360.66667px #ff00b3, 108px -327.66667px #ff00d5, 73px -281.66667px #0091ff, -105px 62.33333px #7bff00, 89px -145.66667px #aa00ff, 36px -59.66667px #00ffa2, -78px 3.33333px #ffae00, -22px -355.66667px #ffae00, -35px -250.66667px #6fff00, 178px -202.66667px #ff00ea, 55px -277.66667px #b3ff00, 62px 1.33333px #0037ff, 178px -155.66667px #1a00ff, -36px -320.66667px #66ff00, -65px -149.66667px #00ff1e, 153px -140.66667px #ff005e, 151px -361.66667px #ff7700, 88px -11.66667px #ffe100, -244px -283.66667px #ff5e00, -168px -341.66667px #00ff37, -71px -144.66667px #c4ff00, 140px -263.66667px #00ff7b, -248px -53.66667px #00ffa6, -241px -319.66667px #00c4ff, -236px 75.33333px #ff0009, -243px -108.66667px #2fff00, 176px -404.66667px #ff0066, 152px -336.66667px #ff7300, 216px -270.66667px #ff00fb, 136px 65.33333px #ff5100, 27px -86.66667px #ff00a6, -11px -42.66667px #ff0026, 53px -126.66667px #ff0088, -10px -273.66667px #1aff00, 55px -230.66667px #c8ff00, -103px -332.66667px #00aaff, -109px -308.66667px #ff0088, 188px -60.66667px #ff9500, -103px -53.66667px #ff0055, -231px -335.66667px #9500ff, -91px 65.33333px #8c00ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -27px -386.66667px #b300ff, 71px -176.66667px #00ffa6, -171px -357.66667px #ff0037, -116px 67.33333px #33ff00, -105px -136.66667px #f700ff, -225px -212.66667px #fb00ff, -21px -328.66667px #00ff0d, -116px -311.66667px #ffe100, 227px -30.66667px #fffb00, -247px -169.66667px #ff5e00, 130px -360.66667px #ff00b3, 108px -327.66667px #ff00d5, 73px -281.66667px #0091ff, -105px 62.33333px #7bff00, 89px -145.66667px #aa00ff, 36px -59.66667px #00ffa2, -78px 3.33333px #ffae00, -22px -355.66667px #ffae00, -35px -250.66667px #6fff00, 178px -202.66667px #ff00ea, 55px -277.66667px #b3ff00, 62px 1.33333px #0037ff, 178px -155.66667px #1a00ff, -36px -320.66667px #66ff00, -65px -149.66667px #00ff1e, 153px -140.66667px #ff005e, 151px -361.66667px #ff7700, 88px -11.66667px #ffe100, -244px -283.66667px #ff5e00, -168px -341.66667px #00ff37, -71px -144.66667px #c4ff00, 140px -263.66667px #00ff7b, -248px -53.66667px #00ffa6, -241px -319.66667px #00c4ff, -236px 75.33333px #ff0009, -243px -108.66667px #2fff00, 176px -404.66667px #ff0066, 152px -336.66667px #ff7300, 216px -270.66667px #ff00fb, 136px 65.33333px #ff5100, 27px -86.66667px #ff00a6, -11px -42.66667px #ff0026, 53px -126.66667px #ff0088, -10px -273.66667px #1aff00, 55px -230.66667px #c8ff00, -103px -332.66667px #00aaff, -109px -308.66667px #ff0088, 188px -60.66667px #ff9500, -103px -53.66667px #ff0055, -231px -335.66667px #9500ff, -91px 65.33333px #8c00ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -27px -386.66667px #b300ff, 71px -176.66667px #00ffa6, -171px -357.66667px #ff0037, -116px 67.33333px #33ff00, -105px -136.66667px #f700ff, -225px -212.66667px #fb00ff, -21px -328.66667px #00ff0d, -116px -311.66667px #ffe100, 227px -30.66667px #fffb00, -247px -169.66667px #ff5e00, 130px -360.66667px #ff00b3, 108px -327.66667px #ff00d5, 73px -281.66667px #0091ff, -105px 62.33333px #7bff00, 89px -145.66667px #aa00ff, 36px -59.66667px #00ffa2, -78px 3.33333px #ffae00, -22px -355.66667px #ffae00, -35px -250.66667px #6fff00, 178px -202.66667px #ff00ea, 55px -277.66667px #b3ff00, 62px 1.33333px #0037ff, 178px -155.66667px #1a00ff, -36px -320.66667px #66ff00, -65px -149.66667px #00ff1e, 153px -140.66667px #ff005e, 151px -361.66667px #ff7700, 88px -11.66667px #ffe100, -244px -283.66667px #ff5e00, -168px -341.66667px #00ff37, -71px -144.66667px #c4ff00, 140px -263.66667px #00ff7b, -248px -53.66667px #00ffa6, -241px -319.66667px #00c4ff, -236px 75.33333px #ff0009, -243px -108.66667px #2fff00, 176px -404.66667px #ff0066, 152px -336.66667px #ff7300, 216px -270.66667px #ff00fb, 136px 65.33333px #ff5100, 27px -86.66667px #ff00a6, -11px -42.66667px #ff0026, 53px -126.66667px #ff0088, -10px -273.66667px #1aff00, 55px -230.66667px #c8ff00, -103px -332.66667px #00aaff, -109px -308.66667px #ff0088, 188px -60.66667px #ff9500, -103px -53.66667px #ff0055, -231px -335.66667px #9500ff, -91px 65.33333px #8c00ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -27px -386.66667px #b300ff, 71px -176.66667px #00ffa6, -171px -357.66667px #ff0037, -116px 67.33333px #33ff00, -105px -136.66667px #f700ff, -225px -212.66667px #fb00ff, -21px -328.66667px #00ff0d, -116px -311.66667px #ffe100, 227px -30.66667px #fffb00, -247px -169.66667px #ff5e00, 130px -360.66667px #ff00b3, 108px -327.66667px #ff00d5, 73px -281.66667px #0091ff, -105px 62.33333px #7bff00, 89px -145.66667px #aa00ff, 36px -59.66667px #00ffa2, -78px 3.33333px #ffae00, -22px -355.66667px #ffae00, -35px -250.66667px #6fff00, 178px -202.66667px #ff00ea, 55px -277.66667px #b3ff00, 62px 1.33333px #0037ff, 178px -155.66667px #1a00ff, -36px -320.66667px #66ff00, -65px -149.66667px #00ff1e, 153px -140.66667px #ff005e, 151px -361.66667px #ff7700, 88px -11.66667px #ffe100, -244px -283.66667px #ff5e00, -168px -341.66667px #00ff37, -71px -144.66667px #c4ff00, 140px -263.66667px #00ff7b, -248px -53.66667px #00ffa6, -241px -319.66667px #00c4ff, -236px 75.33333px #ff0009, -243px -108.66667px #2fff00, 176px -404.66667px #ff0066, 152px -336.66667px #ff7300, 216px -270.66667px #ff00fb, 136px 65.33333px #ff5100, 27px -86.66667px #ff00a6, -11px -42.66667px #ff0026, 53px -126.66667px #ff0088, -10px -273.66667px #1aff00, 55px -230.66667px #c8ff00, -103px -332.66667px #00aaff, -109px -308.66667px #ff0088, 188px -60.66667px #ff9500, -103px -53.66667px #ff0055, -231px -335.66667px #9500ff, -91px 65.33333px #8c00ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -27px -386.66667px #b300ff, 71px -176.66667px #00ffa6, -171px -357.66667px #ff0037, -116px 67.33333px #33ff00, -105px -136.66667px #f700ff, -225px -212.66667px #fb00ff, -21px -328.66667px #00ff0d, -116px -311.66667px #ffe100, 227px -30.66667px #fffb00, -247px -169.66667px #ff5e00, 130px -360.66667px #ff00b3, 108px -327.66667px #ff00d5, 73px -281.66667px #0091ff, -105px 62.33333px #7bff00, 89px -145.66667px #aa00ff, 36px -59.66667px #00ffa2, -78px 3.33333px #ffae00, -22px -355.66667px #ffae00, -35px -250.66667px #6fff00, 178px -202.66667px #ff00ea, 55px -277.66667px #b3ff00, 62px 1.33333px #0037ff, 178px -155.66667px #1a00ff, -36px -320.66667px #66ff00, -65px -149.66667px #00ff1e, 153px -140.66667px #ff005e, 151px -361.66667px #ff7700, 88px -11.66667px #ffe100, -244px -283.66667px #ff5e00, -168px -341.66667px #00ff37, -71px -144.66667px #c4ff00, 140px -263.66667px #00ff7b, -248px -53.66667px #00ffa6, -241px -319.66667px #00c4ff, -236px 75.33333px #ff0009, -243px -108.66667px #2fff00, 176px -404.66667px #ff0066, 152px -336.66667px #ff7300, 216px -270.66667px #ff00fb, 136px 65.33333px #ff5100, 27px -86.66667px #ff00a6, -11px -42.66667px #ff0026, 53px -126.66667px #ff0088, -10px -273.66667px #1aff00, 55px -230.66667px #c8ff00, -103px -332.66667px #00aaff, -109px -308.66667px #ff0088, 188px -60.66667px #ff9500, -103px -53.66667px #ff0055, -231px -335.66667px #9500ff, -91px 65.33333px #8c00ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}