.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  width:80px;
}

.App-header {
  background: url(../public/banner.jpg) no-repeat white;
  height: 180px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px !Important;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {

}

.game-board{
  margin: 10px auto;
  width: 356px;
}
.game-info {
  margin: 10px auto;
  width: 230px;
}
.game-form{
  width: 356px;
  margin: 0 auto;
}

.center-middle{
  position: absolute;
  width:225px;
  height:225px;
  top: 50%;
  left: 50%;
  margin-top: -112px;
  margin-left: -112px;
  z-index: 999;
}

.form-horizontal .form-group {
    margin-right: 0px !IMPORTANT;
}

.hidden{
  display: none;
}

@media screen and (max-width:415px){
  .square{
    width: 45px;
    height: 45px;
    font-size: 24px !Important;
  }
  .game-board{
    width: 270px;
  }
  .game-form{
    width: 270px;
  }
}