@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("./css/fireworks.css");
@import url("./css/bootstrap.icon-extra.min.css");
@import url("./css/animations.css");

.App {
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
  width:80px;
}

.App-header {
  background: url(../public/banner.jpg) no-repeat white;
  height: 180px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px !important;
  line-height: 24px !important;
  height: 45px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board{
  margin: 10px auto;
  width: 440px;
}
.game-info {
  margin: 10px auto;
  width: 230px;
}
.game-form{
  width: 440px;
  margin: 0 auto;
  padding-right: 10px;
}

.center-middle{
  position: absolute;
  width:225px;
  height:225px;
  top: 50%;
  left: 50%;
  margin-top: -112px;
  margin-left: -112px;
  z-index: 999;
}

.form-horizontal .form-group {
    margin-right: 0px !important;
}

.hidden{
  display: none;
}

.shinning-bar{
  background-size: 200% 100%;
  background-position: 0 0;
  background-image: linear-gradient( to right, #f5f5f5 50%, rgba(253,255,197,1) 50% );
}
.bar-fade-in{
  background-position: -100% 0;
  animation: fillColor 5s 1;
  -webkit-animation: fillColor 5s 1;
  -moz-animation: fillColor 5s 1;
  -o-animation: fillColor 5s 1;
}
.bar-fade-out{
  background-position: 0 0;
  animation: fillColorReverse 5s 1;
  -webkit-animation: fillColorReverse 5s 1;
  -moz-animation: fillCfillColorReverseolor 5s 1;
  -o-animation: fillColorReverse 5s 1;
}

.mode-info{
  position: absolute;
  width:400px;
  height:200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 999;
  font-size: 35px;
  line-height: 60px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  font-family: Impact, Charcoal, sans-serif;
}

@media screen and (max-width:415px){
  .square{
    width: 30px;
    height: 30px;
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 0 !important;
  }
  .game-board{
    width: 290px;
    padding: 0px;
  }
  .game-form{
    width: 290px;
  }
  .form-horizontal .control-label {
    padding-top: 7px;
  }
  .mode-info{
    width:250px;
    margin-left: -125px;
  }
}